p{
  font-family: arial;
  margin-top:0px;
  margin-bottom:0px;

}
.email{
  font-size:16px;
  margin-bottom:10px;
}
.email-type{
  border-width:2px;
  border-style:solid;
  border-color:rgb(100,100,100);
  margin-bottom:20px;
  width:393px;
  border-radius:5px;
  padding-top:7px;
  padding-bottom:7px;
}
.by{
  font-size:16px;
  margin-bottom:20px;
}
.agree{
  font-size:20px;
  width:400px;
  padding-top:16px;
  padding-bottom:16px;

  color:white;
  background-color:rgb(10, 102, 194);
  border:none;
  border-radius:30px;

}