.freaky{
  vertical-align:middle;
  width:50px;
  height:50px;
  object-fit:cover;
  border-radius:25px;
  
}
.input{
  vertical-align:middle;
  border:none;
  font-size:18px;
  margin-left:5px;
  width:300px;
}
.tweet{
  vertical-align: middle;
  color:white;
  border:none;
  background-color: rgb(66, 136, 207);
  padding-top: 8px;
  padding-bottom:8px;
  padding-left:16px;
  padding-right: 16px;
  border-radius:30px;
  font-weight:bold;


}